# ========================
# NestJS / Node.js
# ========================
node_modules/
dist/
build/
.next/
out/
scratch/ 
# Env files
.env
.env.*
!.env.example
 
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
 
# Package manager
.npm/
.yarn/
.pnp.*
yarn.lock
package-lock.json
pnpm-lock.yaml
 
# TypeScript cache
*.tsbuildinfo
tsconfig.tsbuildinfo
 
# Testing
coverage/
.nyc_output/
 
# NestJS specific
.nest/
